{% load static %}
<!-- icon list--><!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <!-- Site Title-->
    <title>Room Details</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="icon" href="{% static 'images/fav.png' %}" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:400,700,400italic%7CPoppins:300,400,500,700">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <style>
    .middle {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
    }
    
    .bar {
      width: 10px;
      height: 70px;
      background: #fff;
      display: inline-block;
      transform-origin: bottom center;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
      animation: loader 2s linear infinite; /* Increased the duration to 2s */
    }
    
    .bar1 {
      animation-delay: 0.1s;
    }
    .bar2 {
      animation-delay: 0.2s;
    }
    .bar3 {
      animation-delay: 0.3s;
    }
    .bar4 {
      animation-delay: 0.4s;
    }
    .bar5 {
      animation-delay: 0.5s;
    }
    .bar6 {
      animation-delay: 0.6s;
    }
    .bar7 {
      animation-delay: 0.7s;
    }
    .bar8 {
      animation-delay: 0.8s;
    }
    
    @keyframes loader {
      0% {
        transform: scaleY(0.1);
        background: transparent;
      }
      50% {
        transform: scaleY(1);
        background: #8f859e;
      }
      100% {
        transform: scaleY(0.1);
        background: transparent;
      }
    }
    
      </style>
      <body>
       <!-- Page preloader-->
          <div class="page-loader">
            <div>
              <div class="middle">
                <div class="bar bar1"></div>
                <div class="bar bar2"></div>
                <div class="bar bar3"></div>
                <div class="bar bar4"></div>
                <div class="bar bar5"></div>
                <div class="bar bar6"></div>
                <div class="bar bar7"></div>
                <div class="bar bar8"></div>
              </div>
            
           
            </div>
          </div>
      <!-- Page Header-->
      <header class="page-header" style="padding-bottom: 24px">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-default-with-top-panel" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fullwidth" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fullwidth" data-lg-device-layout="rd-navbar-fullwidth" data-md-stick-up-offset="90px" data-lg-stick-up-offset="150px" data-stick-up="true" data-sm-stick-up="true" data-md-stick-up="true" data-lg-stick-up="true">
            <div class="rd-navbar-top-panel rd-navbar-collapse">
              <div class="rd-navbar-top-panel-inner">
                <div class="left-side">
                  <div class="group"><span class="text-italic">Follow Us:</span>
                    <ul class="list-inline">
                      <li><a class="icon icon-sm icon-secondary-5 fa fa-instagram" href="https://www.instagram.com/reel/DCto3bLp1Gs/?igsh=bjd6ZTZpb2p3a285"></a></li>
                      <li><a class="icon icon-sm icon-secondary-5 fa fa-facebook" href="#"></a></li>
                      <li><a class="icon icon-sm icon-secondary-5 fa fa-twitter" href="#"></a></li>
                    </ul>
                  </div>
                </div>
                <div class="center-side">
                  <!-- RD Navbar Brand-->
                  <div class="rd-navbar-brand fullwidth-brand"><a class="brand-name" href="{% url 'index' %}"><img src="{% static 'images/loggo.png' %}" alt="" width="314" height="48"/></a></div>
                </div>
                <div class="right-side">
                  <!-- Contact Info-->
                  <div class="contact-info">
                    <div class="unit unit-middle unit-horizontal unit-spacing-xs">
                      <div class="unit__left"><span class="icon icon-primary text-middle mdi mdi-phone"></span></div>
                      <div class="unit__body"><a class="text-middle" href="tel:#">+91 8590483249</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="rd-navbar-inner">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                <!-- RD Navbar collapse toggle-->
                <button class="rd-navbar-collapse-toggle" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></button>
                <!-- RD Navbar Brand-->
                <div class="rd-navbar-brand mobile-brand"><a class="brand-name" href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" alt="" width="314" height="48"/></a></div>
              </div>
              <div class="rd-navbar-aside-right">
                <div class="rd-navbar-nav-wrap">
                  <div class="rd-navbar-nav-scroll-holder">
                    <ul class="rd-navbar-nav">
                      <li><a href="{% url 'index' %}">Home</a>
                      </li>
                      <li><a href="{% url 'about' %}">About Us</a>
                      </li>
                      <li class="active"><a href="{% url 'rooms' %}">Rooms</a>
                      </li>
                      <li><a href="{% url 'near_by_places' %}">Near By Places</a>
                      </li>
                      <li><a href="{% url 'our_gallery' %}">Our Gallery</a>
                      </li>
                      <li><a href="{% url 'booking' %}">Booking</a>
                      </li>
                      <li><a href="{% url 'contact' %}">Contacts</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- Breadcrumbs & Page title-->
      <section class="section-md text-center bg-image breadcrumbs-01">
        <div class="shell shell-fluid">
          <div class="range range-xs-center">
            <div class="cell-xs-12 cell-xl-11">
              <h2 class="text-white" style="color: #fff;">Room Details</h2>
              <ul class="breadcrumbs-custom">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li class="active">Room Details</li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <section class="section section-md  text-center text-sm-left">
        <div class="shell">
          <div class="range range-50 range-md-justify range-sm-middle">
            <!-- Slideshow Section -->
            <div class="cell-sm-6 wow fadeInUp" data-wow-delay=".1s">
              <div class="box-outline box-outline__mod-1">
                <div id="slideshow-container">
                  <!-- Slide Images -->
                  <figure class="slide"><img src="{% static 'images/abcd.jpg' %}" alt="Room 1" width="546" height="516"/></figure>
                  <figure class="slide"><img src="{% static 'images/grid-gallery-1-370x276.jpg' %}" alt="Room 2" width="546" height="516"/></figure>
                  <figure class="slide"><img src="{% static 'images/grid-gallery-2-370x276.jpg' %}" alt="Room 3" width="546" height="516"/></figure>
                  <!-- Slide Navigation -->
                  <div class="slide-controls">
                    <button class="prev-slide">&#10094;</button>
                    <button class="next-slide">&#10095;</button>
                  </div>
                </div>
              </div>
            </div>
            
            <!-- Details Section -->
            <div class="cell-sm-6 cell-md-5 wow fadeInUp" data-wow-delay=".2s">
              <h3>Welcome to DreamCasa</h3>
              <div id="slide-details">
                <p>Looking for an affordable getaway surrounded by tea mountain views? DreamCasa offers cozy balcony rooms where you can enjoy the scenic beauty of Anachal. We provide homemade hot and spicy meals, along with a delightful campfire experience to complete your stay.</p>
                <p>Convenient services like local sightseeing taxis, pickups, and drop-offs are available to suit your preferences.</p>
              </div>
              <!-- <a class="button button-primary button-square button-effect-ujarak button-lg" href="#aasdf"><span>Read More</span></a> -->
            </div>
          </div>
        </div>
      </section>
      
      <script>
        // JavaScript to handle slideshow functionality
        let slideIndex = 0;
        const slides = document.querySelectorAll(".slide");
        const slideDetails = document.getElementById("slide-details");
      
        function showSlide(n) {
          slides.forEach((slide, index) => {
            slide.style.display = index === n ? "block" : "none";
          });
          
         
        }
      
        document.querySelector(".prev-slide").onclick = () => {
          slideIndex = (slideIndex - 1 + slides.length) % slides.length;
          showSlide(slideIndex);
        };
      
        document.querySelector(".next-slide").onclick = () => {
          slideIndex = (slideIndex + 1) % slides.length;
          showSlide(slideIndex);
        };
      
        // Show the initial slide
        showSlide(slideIndex);
      </script>
      
     
<!-- Page Footer-->
<footer class="page-footer text-left text-sm-left">
  <div class="shell-wide">
    <div class="page-footer-minimal">
      <div class="shell-wide">
        <div class="range range-50">
          <!-- Opening Hours Section -->
          <div class="cell-sm-6 cell-md-3 cell-lg-4 wow fadeInUp" data-wow-delay=".1s">
            <div class="page-footer-minimal-inner">
              <h4>Reservations</h4>
              <ul class="list-unstyled">
                <li>
                  <div class="group-xs">
                    <div style="margin-bottom: 10px;">
                      <dl class="list-desc">
                        <dt><span class="icon icon-sm mdi mdi-phone"></span></dt>
                    <dd class="text-gray-darker"><a class="link link-gray-darker" href="tel:+918590483249">+91 8590483249</a></dd>
                      </dl>
                    </div>
                    <div>
                      <dl class="list-desc">
                        <dt><span class="icon icon-sm mdi mdi-gmail"></span></dt>
                        <dd class="text-gray-darker"><a class="link link-gray-darker" href="mail:dreamcasa@gmail.com">dreamcasa@gmail.com</a></dd>
                      </dl>
                    </div> 
                    <ul class="list-inline">
                      <li><a class="icon icon-sm icon-secondary-5 fa fa-instagram" href="https://www.instagram.com/reel/DCto3bLp1Gs/?igsh=bjd6ZTZpb2p3a285"></a></li>
                      <li><a class="icon icon-sm icon-secondary-5 fa fa-facebook" href="#"></a></li>
                      <li><a class="icon icon-sm icon-secondary-5 fa fa-twitter" href="#"></a></li>
                    </ul>
                    <!-- <div>
                      <dl class="list-desc">
                        <dt>Mail:</dt>
                        <dd class="text-gray-darker"><span>reservations@hotelriver.com</span></dd>
                      </dl>
                    </div> -->
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <!-- Address Section -->
          <div class="cell-sm-6 cell-md-5 cell-lg-4 wow fadeInUp" data-wow-delay=".2s">
            <div class="page-footer-minimal-inner">
              <h4>Quick Links
              </h4>
              <ul class="list-unstyled">
                <li>
                  <dl class="list-desc">
                    <!-- <dt><span class="icon icon-sm mdi mdi-map-marker"></span></dt> -->
                    <dd><a class="link link-gray-darker" href="{% url 'about' %}">About</a></dd>
                  </dl>
                </li>
                <li>
                  <dl class="list-desc">
                    <!-- <dt><span class="icon icon-sm mdi mdi-map-marker"></span></dt> -->
                    <dd><a class="link link-gray-darker" href="{% url 'near_by_places' %}">Near By Places</a></dd>
                  </dl>
                </li>
                <li>
                  <dl class="list-desc">
                    <!-- <dt><span class="icon icon-sm mdi mdi-phone"></span></dt> -->
                    <dd class="text-gray-darker"><a class="link link-gray-darker" href="{% url 'our_gallery' %}">Our Gallery</a></dd>
                  </dl>
                </li>
                
                <li>
                  <dl class="list-desc">
                    <!-- <dt><span class="icon icon-sm mdi mdi-phone"></span></dt> -->
                    <dd class="text-gray-darker"><a class="link link-gray-darker" href="{% url 'contact' %}">Contacts</a></dd>
                  </dl>
                </li>
              </ul>
            </div>
          </div>
          <!-- Home Stay Amenities Section -->
          <div class="cell-sm-8 cell-md-4 wow fadeInUp" data-wow-delay=".3s">
            <div class="page-footer-minimal-inner">
              <h4>Our Location</h4>
              <div style="width: 100%; margin-bottom: 15px;">
                <!-- Google Maps Iframe -->
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d100.0!2d77.0!3d10.0!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2z10.033241LC03Ny4wNDIwMzI!5e0!3m2!1sen!2sus!4v1690207390095!5m2!1sen!2sus"
                  width="100%"
                  height="150"
                  style="border:0; border-radius: 8px;"
                  allowfullscreen=""
                  loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade">
                </iframe>
              </div>
            </div>
          </div>
          
          
        </div>
        <!-- Footer Credits -->
        <div class="range range-50">
          <div class="cell-sm-12 text-center">
            <p class="rights">
              <span>&copy;&nbsp;</span><span>2024</span><span>&nbsp;</span> Dream Casa Home Stay. All Rights Reserved. Design by
              <a href="https://www.vynzora.com">VynZora</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>


    </div>
    <!-- PANEL-->
    <!-- END PANEL-->
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- PhotoSwipe Gallery-->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="pswp__bg"></div>
      <div class="pswp__scroll-wrap">
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <div class="pswp__counter"></div>
            <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
            <button class="pswp__button pswp__button--share" title="Share"></button>
            <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
            <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
          <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__cent"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Javascript-->
    <script src="{% static 'js/core.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>